<!--Include header file-->
<%-include("include/_header.ejs")%>
    <!--Include header file-->

    <!--Main start-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">New User<i class="fa-solid fa-user"></i
        ></span>
                </a>
            </div>
            <!--Form handling start-->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>YOUR NAME</th>
                            <th>YOUR EMAIL</th>
                            <th>GENDER</th>
                            <th>STATUS</th>
                            <th>ACTIVE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%-include("include/_show.ejs")%>
                    </tbody>
                </table>
            </form>
            <!--Form handling end-->
        </div>
    </main>
    <!--Main end-->

    <!--Include footer file-->
    <%-include("include/_footer.ejs")%>
        <!--Include footer file-->